
@keyframes loading {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  to {
    background-position: 0 50%
  }
}

.errorBox {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: block;
  animation: loading 10s ease infinite;
  background-image: linear-gradient(125deg, #fff, #f3f3f3 41%, #ededed 0, #fff);
  background-size: 300% 300%;

  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.ErrorText{
  font-size: 24px;
  font-weight: 900;
  color: #555;
  margin-bottom: 10px;
  flex: 1.0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ErrorButton{
  flex: 1.0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.backButton{
  width: 150px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #62b1d8;
  margin-bottom: 30px;
  cursor: pointer;
}
