.nav{
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    overflow:hidden;
    background-color: #f7f7f7;
    border-top: 1px solid #e7e7e7;
}
.navBtn{
    composes:nav;
    font-size: 1.6rem;

    flex: 1.0;
    -webkit-flex: 1.0;
    -webkit-box-flex: 1.0;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;

    text-decoration: none;
}

.navBtnUnActive{
    composes:navBtn;
    color: #545454;
}
.navBtnActive{
    composes:navBtn;
    color: #b58900;
}
